@import "tailwindcss";

.tasklist::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.tasklist {
  scrollbar-width: none;
}
.removeScroll::-webkit-scrollbar {
  display: none;
}
.removeScroll{
  scrollbar-width: none;
}
.removeScroll{
  cursor: all-scroll;
}