* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  font-family: Arial, sans-serif;
height:100%;
width :100%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(15, 179, 244);
  height: 10vh;
  width: 100vw;
  padding: 0 20px;
}
.nav2{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  height: 10vh;
}
.nav2 h2{
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.app{
  background-color: #cd53d1;
  width: 100vw;
  height: 100vh;
}