*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 25px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 350px;
  /* margin: 50px auto; */
  border: 2px solid #ddd;
}
.card img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
button{
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
 font-size: larger;
}
button:hover{
  background-color: #0056b3;
}
p{
  font-size: 18px;
  color: #333;
  padding-left: 10px;
}