*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  height: 300px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid;
}
.parent{
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.nav{
  height:30% ;
  width:100% ;
  border-radius: inherit;
  padding: 7px;
display: flex;
align-items: center;
justify-content: space-between;

}
.nav button{
  padding: 12px 25px;
  border-radius: 20px;
  align-self: center;
  background-color: #fff;
  cursor: pointer;

}
.nav button img{
  border-radius: 0%;
  border: none;
  height: 15px;
}
.nav img{
  height: 75%;
  width: 22%;
  background-color: #fff;
  border-radius: 50%;
  border:2px solid;
  object-fit: cover;
  object-position: top;
}
.mid{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
 height: 40%;
 width: 100%;
 padding: 5px;
}
.mid .name{
  font-size: 25px;
}
.mid .position{
  font-size: 20px;
  font-weight: bold;
}
.mid .btns{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns button{
  padding: 5px 7px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  border: 1px solid;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  padding: 5px;
}
footer button{
  padding: 5px 6px ;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
button:active{
  scale: 0.9;
}