*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  height: 300px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.parent{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.nav{
  height:25% ;
  width:85% ;
  border-radius: inherit;
  padding: 7px;
display: flex;
align-items: center;
justify-content: space-between;

}
.nav button{
  padding: 8px 15px;
  border-radius: 20px;
  align-self: center;
  background-color: #fff;
  cursor: pointer;

}
.nav button img{
  border-radius: 0%;
  border: none;
  height: 15px;
}
.nav img{
  height: 85%;
  width: 22%;
  background-color: #fff;
  border-radius: 50%;
  border:2px solid;
  object-fit: cover;
  object-position: top;
}
.mid{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
 height: 40%;
 width: 80%;
 padding: 5px;
}
.mid .name{
  font-size: 25px;
}
.mid .position{
  font-size: 20px;
  font-weight: bold;
}
.mid .btns{
  width: 80%;
  display: flex;
  align-items: center;
 gap: 10px;
}
.btns button{
  height: 25px;
  width: 60px;
  background-color: #eeeeee;
  color: black;
  border: none;
  font-size: 10px;
}
footer{
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 30%;
  width: 80%;
  padding: 15px;
  border-top: 1px solid #c6c6c6;
}
footer button{
  padding: 5px 10px ;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

}
button:active{
  scale: 0.9;
}
footer .address{
  font-size: 10px;
  color: grey;
}
footer .money{
  font-size: 20px;
  font-weight: bolder;
}