* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  font-family: Arial, sans-serif;
height:100%;
width :100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn{
  display: flex;
  gap: 20px;
}
button,input{
  padding: 20px 30px ;
  color: white;
  background-color: black;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
button:active{
  scale: 0.90;
}